body {
    background-color: #dfd928;
    font: 16px Arial;
}

main {
    margin: 20px auto;
    width: 1024px;
}

main header h1 {
    color: aliceblue;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
}

main section {
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    color: rgba(0,0,0,.8);
}

